html {
  scroll-padding-top: 100px;
}

/*TOP PAGE - FIRST SECTION*/
.top-page {
  text-align: center;
  border: 1px solid transparent;
  width: 100%;
  height: 88vh;
  background-image: url(../images/top-page__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.top-page .top-page__h1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 4.8px;
  padding-top: 400px;
}
.top-page .top-page__h2 {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 6.82px;
}
.top-page .top-page__search-input {
  width: 653px;
  height: 63px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.8px;
  color: #999999;
  text-align: center;
}
.top-page .top-page__search-btn {
  background-color: #5474fd;
  border: 1px solid white;
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  width: 153px;
  height: 63px;
  color: white;
  letter-spacing: 1.4px;
  cursor: pointer;
}
.top-page .top-page__search-btn:hover {
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74) inset;
  border: none;
}

.fa {
  color: white;
}
.fahover {
  color: #5474fd;
}

.top-page__scroll-down {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.8px;
  color: white;
  cursor: pointer;
  margin-top: 150px;
}
.top-page__scroll-down:hover {
  text-decoration: line-through;
}

.scroll-down-arrow {
  cursor: pointer;
  margin-bottom: 5px;
}
.scroll-down-arrow:hover {
  scale: 2;
}

/*NAVBAR*/
.navbar {
  background-color: #5474fd;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}
.navbar label {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-left: 400px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  margin: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  padding: 14px 16px;
  margin-right: 100px;
  font-size: 1rem;
  line-height: 26px;
  float: left;
}
.navbar ul li a:hover {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

/*SECOND SECTION*/
.second-section {
  background-image: url(../images/why-choose-us-section-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.second-section .second-section__h1 {
  font-weight: 400;
  font-size: 2.25rem;
  padding-top: 200px;
}
.second-section .second-section__p {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1.6px;
  color: #e8e8e8;
  width: 560px;
}
.second-section .second-section__img1 {
  padding-top: 85px;
}
.second-section .second-section__img2 {
  padding-top: 320px;
  -webkit-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  transform: translateX(-260px);
}

.blue-gradient-btn {
  width: 228px;
  height: 63px;
  background: linear-gradient(to right, #496bfe, #5474fd);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 40px;
}
.blue-gradient-btn:hover {
  border: 10px solid #496bfe;
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
}

/*THIRD SECTION*/
.third-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.third-section .third-section__h2 {
  color: #e8e8e8;
  font-size: 2.25rem;
  font-weight: 400;
  padding: 140px;
}

/*SECTION FOUR*/
.section-4 {
  background-image: url(../images/section-4-spain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  color: #e8e8e8;
}
.section-4 .section-4__container {
  background-color: rgba(35, 35, 35, 0.7333333333);
  width: 543px;
  height: 374px;
  padding: 20px;
  transform: translateY(100px) translateX(500px);
}
.section-4 .section-4__container .section-4__h4 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}
.section-4 .section-4__container .section-4__h3 {
  font-weight: 400;
  font-size: 1.25rem;
}
.section-4 .section-4__container .section-4__p {
  font-weight: 400;
  font-size: 1.2rem;
}

/*SECTION FIVE*/
.section-5 {
  background-image: url(../images/section-5-spain-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  color: #e8e8e8;
}
.section-5 .section-5__container {
  background-color: rgba(35, 35, 35, 0.9176470588);
  width: 543px;
  height: 374px;
  padding: 20px;
  transform: translateY(100px) translateX(1100px);
}
.section-5 .section-5__container .section-5__h4 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}
.section-5 .section-5__container .section-5__h3 {
  font-weight: 400;
  font-size: 1.25rem;
}
.section-5 .section-5__container .section-5__p {
  font-weight: 400;
  font-size: 1.2rem;
}

/*SECTION 6 TESTIMONIALS*/
.section-6-testimonials {
  background-image: url(../images/section-6-what-they-say.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  margin-block-start: -25px;
  color: white;
  text-align: center;
}
.section-6-testimonials .section-6-testimonials__h1 {
  font-weight: 400;
  font-size: 2.25rem;
  padding-top: 80px;
}
.section-6-testimonials .section-6-testimonials__h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

/*FOOTER*/
.footer {
  background-color: #232323;
  width: 100%;
  height: 271px;
  display: block;
  color: white;
  text-align: center;
  padding-top: 140px;
}
.footer .footer__h2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3.36px;
}
.footer .footer__h3 {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1.6px;
}