.navbar {
  background-color: #5474fd;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
}
.navbar label {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-left: 400px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  margin: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  padding: 14px 16px;
  margin-right: 100px;
  font-size: 14px;
  line-height: 26px;
}
.navbar ul li a:hover {
  text-decoration-line: line-through;
}

.top-page {
  text-align: center;
  border: 1px solid transparent;
  height: 100vh;
  background-image: url(../images/top-page__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.top-page .top-page__h1 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 4.8px;
  margin-top: 400px;
}
.top-page .top-page__h2 {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 6.82px;
}
.top-page .top-page__search-input {
  width: 653px;
  height: 63px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #999999;
  text-align: center;
}
.top-page .top-page__search-btn {
  background-color: #5474fd;
  border: 2px solid white;
  width: 153px;
  height: 63px;
  color: white;
  letter-spacing: 1.4px;
}

.fa {
  color: white;
}
.fahover {
  color: #5474fd;
}

.top-page__scroll-down {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: white;
  cursor: pointer;
  margin-top: 350px;
}
.top-page__scroll-down:hover {
  text-decoration: line-through;
}

.scroll-down-arrow {
  cursor: pointer;
  margin-bottom: 5px;
}
.scroll-down-arrow:hover {
  transform: rotateY(45deg);
}