html {
  scroll-padding-top: 100px;
}

.fw400 {
  font-weight: 400;
}

.fw700 {
  font-weight: 700;
}

.fs1 {
  font-size: 1rem;
}

.fs1-2 {
  font-size: 1.2rem;
}

.fs1-25 {
  font-size: 1.25rem;
}

.fs1-4 {
  font-size: 1.4rem;
}

.fs1-5 {
  font-size: 1.5rem;
}

.fs2-50 {
  font-size: 2.5rem;
}

.fs3 {
  font-size: 3rem;
}

.top-page {
  text-align: center;
  border: 1px solid transparent;
  width: 100%;
  height: 88vh;
  background-image: url(../images/top-page__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.top-page .top-page__h1 {
  letter-spacing: 4.8px;
  padding-top: 400px;
}
.top-page .top-page__h2 {
  letter-spacing: 6.82px;
}
.top-page .top-page__search-input {
  width: 653px;
  height: 63px;
  letter-spacing: 2.8px;
  color: #999999;
  text-align: center;
}
.top-page .top-page__search-btn {
  background-color: #5474fd;
  border: 1px solid white;
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  width: 153px;
  height: 63px;
  color: white;
  letter-spacing: 1.4px;
  cursor: pointer;
}
.top-page .top-page__search-btn:hover {
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74) inset;
  border: none;
}

.fa {
  color: white;
}
.fahover {
  color: #5474fd;
}

.top-page__scroll-down {
  cursor: pointer;
  margin-top: 150px;
}
.top-page__scroll-down:hover {
  text-decoration: line-through;
}
.top-page__scroll-down a {
  text-decoration: none;
  letter-spacing: 2.8px;
  color: white;
}

.scroll-down-arrow {
  cursor: pointer;
  margin-bottom: 5px;
}
.scroll-down-arrow:hover {
  scale: 2;
}

.navbar {
  background-color: #5474fd;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}
.navbar label {
  letter-spacing: 2.4px;
  margin-left: 400px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  margin: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  display: inline;
  text-align: center;
  padding: 14px 16px;
  margin-right: 100px;
  line-height: 26px;
  float: left;
}
.navbar ul li a:hover {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.second-section {
  background-image: url(../images/why-choose-us-section-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.second-section .second-section__h1 {
  padding-top: 200px;
}
.second-section .second-section__p {
  letter-spacing: 1.6px;
  color: #e8e8e8;
  width: 560px;
}
.second-section .second-section__img1 {
  padding-top: 85px;
}
.second-section .second-section__img2 {
  padding-top: 320px;
  -webkit-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  transform: translateX(-260px);
}

.blue-gradient-btn {
  width: 228px;
  height: 63px;
  background: -webkit-gradient(linear, left top, left bottom, from(to right), to(#496bfe, #5474fd));
  background: -o-linear-gradient(to right, #496bfe, #5474fd);
  background: linear-gradient(to right, #496bfe, #5474fd);
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}
.blue-gradient-btn:hover {
  border: 10px solid #496bfe;
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
}

.third-section {
  display: block;
}
.third-section .third-section__line {
  width: 777px;
  height: 99px;
  margin-top: 40px;
  margin-left: 35%;
}
.third-section .third-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.third-section .third-section__h2 {
  color: #e8e8e8;
  padding: 140px;
}

.section-4 {
  background-image: url(../images/section-4-spain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  color: #e8e8e8;
}
.section-4 .section-4__container {
  background-color: rgba(35, 35, 35, 0.7333333333);
  width: 543px;
  height: 374px;
  padding: 20px;
  margin-left: 25%;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}
.section-4 .section-4__container .section-4__h4 {
  letter-spacing: 1.5px;
}

.section-5 {
  background-image: url(../images/section-5-spain-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  color: #e8e8e8;
}
.section-5 .section-5__container {
  background-color: rgba(35, 35, 35, 0.9176470588);
  width: 543px;
  height: 374px;
  padding: 20px;
  margin-left: 50%;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}
.section-5 .section-5__container .section-5__h4 {
  letter-spacing: 1.5px;
}

.section-6-testimonials {
  background-image: url(../images/section-6-what-they-say.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  -webkit-margin-before: -28px;
  margin-block-start: -28px;
  color: white;
  text-align: center;
}
.section-6-testimonials .section-6-testimonials__h1 {
  padding-top: 80px;
}
.section-6-testimonials .section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-6-testimonials .section-6-testimonials__testimonial {
  background-color: #333333;
  width: 668px;
  height: 287px;
  padding: 40px;
}
.section-6-testimonials .section-6-testimonials__testimonial .section-6-testimonials__h3 {
  text-align: left;
}
.section-6-testimonials .section-6-testimonials__testimonial p {
  width: 581px;
  height: 165px;
  line-height: 26px;
}
.section-6-testimonials .section-6-testimonials__testimonial p .quote {
  color: #5474fd;
  font-size: 3.5rem;
  padding-right: 15px;
}

.footer {
  background-color: #232323;
  width: 100%;
  height: 271px;
  display: block;
  color: white;
  text-align: center;
  padding-top: 140px;
}
.footer .footer__h2 {
  letter-spacing: 3.36px;
}
.footer .footer__h3 {
  letter-spacing: 1.6px;
}
.footer .footer__social {
  font-size: 2rem;
}
.footer .footer__social a {
  color: white;
  padding: 10px;
}