@media (max-width: 960px) {
  .top-page__search-input {
    width: 400px;
    margin-bottom: 20px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .second-section__h1 {
      margin-left: 15%;
    }
    .second-section__p {
      margin-left: 15%;
    }
    .second-section__img1 {
      margin-left: 30%;
    }
    .second-section__img2 {
      margin-left: 40%;
      transform: translateY(-200px);
    }
    .blue-gradient-btn {
      margin-left: 15%;
    }
  }

  .third-section {
    .third-section__line {
      display: none;
    }

    .fa-circle-check {
      color: #ff6363;
      margin: 0 20%;
    }

    .third-section__container {
      .third-section__h2 {
        font-size: 1.5rem;
        margin: 0 -40%;
      }
    }
  }

  .section-4 {
    .section-4__container {
      margin-left: 15%;
    }
  }

  .section-5 {
    .section-5__container {
      margin-left: 15%;
    }
  }

  .section-6-testimonials {
    .section-6 {
      flex-direction: column;
      justify-content: center;
      width: 300px;
      margin-left: 10%;
    }
    .section-6-testimonials__testimonial {
      width: 600px;
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1695px) {
  .navbar {
    display: block;

    label {
      margin-left: 45%;
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1320px) {
  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .second-section__h1 {
      margin-left: 15%;
    }
    .second-section__p {
      margin-left: 15%;
    }
    .second-section__img1 {
      margin-left: 30%;
      width: 450px;
      height: fit-content;
    }
    .second-section__img2 {
      margin-left: 40%;
      transform: translateY(-200px);
      width: 450px;
      height: fit-content;
    }
    .blue-gradient-btn {
      margin-left: 15%;
    }
  }
}
