$navbarColor: #5474fd;
$footerColor: #232323;
$textColor: white;

html {
  scroll-padding-top: 100px;
}

.aleo-font > {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-font > {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*NAVBAR*/

.navbar {
  background-color: $navbarColor;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $textColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
  transition: transform 0.3s;

  &.hidden {
    transform: translateY(100%);
  }

  label {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-left: 400px;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 20px;

      a {
        color: $textColor;
        text-decoration: none;
        display: inline;
        text-align: center;
        padding: 14px 16px;
        margin-right: 100px;
        font-size: 1rem;
        line-height: 26px;

        &:hover {
          -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
        }
      }
    }
  }
}

/*TOP PAGE - FIRST SECTION*/

.top-page {
  text-align: center;
  border: 1px solid transparent;
  height: 100vh;
  background-image: url(../images/top-page__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $textColor;

  .top-page__h1 {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 4.8px;
    margin-top: 400px;
  }

  .top-page__h2 {
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 6.82px;
  }

  .top-page__search-input {
    width: 653px;
    height: 63px;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2.8px;
    color: #999999;
    text-align: center;
  }

  .top-page__search-btn {
    background-color: #5474fd;
    border: 1px solid white;
    -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
    box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
    width: 153px;
    height: 63px;
    color: $textColor;
    letter-spacing: 1.4px;
    cursor: pointer;
    &:hover {
      -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
      box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74) inset;
      border: none;
    }
  }
}

.fa {
  color: white;

  &hover {
    color: $navbarColor;
  }
}

.top-page__scroll-down {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.8px;
  color: $textColor;
  cursor: pointer;
  margin-top: 350px;

  &:hover {
    text-decoration: line-through;
  }
}

.scroll-down-arrow {
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
  }
}

/*SECOND SECTION*/

.second-section {
  background-image: url(../images/why-choose-us-section-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  padding: 20px;
  color: $textColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .second-section__h1 {
    font-weight: 400;
    font-size: 2.25rem;
    margin-top: 350px;
  }

  .second-section__p {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    color: #e8e8e8;
    width: 560px;
  }

  .second-section__img1 {
    margin-top: 230px;
  }
  .second-section__img2 {
    margin-top: 460px;
    -webkit-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
  }
}

/*THIRD SECTION*/

.third-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  .third-section__h2 {
    color: #e8e8e8;
    font-size: 2.25rem;
    font-weight: 400;
  }
}
